.app-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.fill-parent {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.app-root {
    background: #fdfdfd;
}

.login-container {
    background: #777 url('/img/bg_login1.jpg') 0 0 no-repeat;
    background-size: cover;
}

.login-card {
    width: 75%;
    margin: auto;
    max-width: 30rem;
}

.btn-facebook {
    background: #3B5998;
    border-color: darken(#3B5998, 5%);

    &:hover, &:active {
        background: lighten(#3B5998, 5%);
    }
}

.btn-google {
    background: #DB4437;
    border-color: darken(#DB4437, 5%);

    &:hover, &:active {
        background: lighten(#DB4437, 5%);
    }
}