/** Customization variables for bootstrap */

$enable-rounded: false;
$enable-print-styles: false;

// Brand Colors
$blue: #4d0676;

// Fonts
$font-family-sans-serif: 'Istok Web', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
